<PageHeader local-class="header" data-test-heading>
  <div local-class="header-row">
    <div local-class="heading">
      <h1 data-test-crate-name>{{@crate.name}}</h1>
      {{#if @version}}
        <h2 data-test-crate-version>v{{@version.num}}</h2>
      {{/if}}
    </div>

    {{#if this.session.currentUser}}
      <FollowButton @crate={{@crate}}/>
    {{/if}}
  </div>

  {{#if @crate.description}}
    <div local-class="description">
      {{@crate.description}}
    </div>
  {{/if}}

  {{#if @crate.keywords}}
    <ul local-class="keywords">
      {{#each @crate.keywords as |keyword|}}
        <li>
          <LinkTo @route="keyword" @model={{keyword.id}} data-test-keyword={{keyword.id}}>
            <span local-class="hash">#</span>{{keyword.id}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</PageHeader>

<NavTabs aria-label="{{@crate.name}} crate subpages" local-class="nav" as |nav|>
  <nav.Tab
    @link={{if
      @versionNum
      (link "crate.version" @crate @versionNum)
      (link "crate.index" @crate)
    }}
    data-test-readme-tab
  >
    Readme
  </nav.Tab>

  <nav.Tab @link={{link "crate.versions" @crate}} data-test-versions-tab>
    {{@crate.versions.length}} Versions
  </nav.Tab>

  <nav.Tab
    @link={{if
      @versionNum
      (link "crate.version-dependencies" @crate @versionNum)
      (link "crate.dependencies" @crate)
    }}
    data-test-deps-tab
  >
    Dependencies
  </nav.Tab>

  <nav.Tab @link={{link "crate.reverse-dependencies" @crate}} data-test-rev-deps-tab>
    Dependents
  </nav.Tab>

  {{#if this.isOwner}}
    <nav.Tab @link={{link "crate.settings" @crate}} data-test-settings-tab>
      Settings
    </nav.Tab>
  {{/if}}
</NavTabs>